<!--  DSN Loader
================================================== -->
<div class="dsn-loader">
    <div class="dsn-up"></div>
    <div class="dsn-progress-page"></div>
    <div class="dsn-down"></div>
</div>
<!-- End DSN Loader
================================================== -->

<!-- Sticky Menu
================================================== -->
<div class="header-top nav-mobile">
    <div class="header-container">

        <div class="logo">
            <a href="/">
                <img src="/static/assets/img/logo.png" alt="">
            </a>
        </div>

        <div class="menu-icon" data-dsn-grid="parallax" data-dsn-grid-move="50">
            <div class="icon-m">
                <span class="menu-icon__line menu-icon__line-left"></span>
                <span class="menu-icon__line"></span>
                <span class="menu-icon__line menu-icon__line-right"></span>
            </div>
        </div>

        <div class="nav">
            <div class="inner">
                <div class="logo">
                    <a href="/">
                        <img src="/static/assets/img/logo-dark.png" alt="">
                    </a>
                </div>
                <div class="nav__content">
                    <ul class="nav__list">
                        <li class="nav__list-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="nav__list-item nav__list-dropdown">
                            <a href="/projectlist">Projects</a>
                        </li>
                        <li class="nav__list-item"><a href="/contact">Contact</a></li>
                    </ul>
                    <address>
                        United States<br>
                        Address, Joplin, Missouri 64801<br>
                        Phone , email
                    </address>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="site-header">
    <div class="extend-container">
        <div class="inner-header">
            <div class="main-logo">
                <a href="/">
                    <img src="/static/assets/img/logo.png" alt="">
                </a>
            </div>
        </div>
        <nav class=" accent-menu main-navigation">
            <ul class="extend-container">
                <li class="custom-drop-down">
                    <a href="/">Home</a>
                </li>
                <li class="custom-drop-down">
                    <a href="/projectlist">Projects</a>
                    <ul>
                        <li><a href="/project1/">Sponsor A Veteran</a></li>
                        <li><a href="/project2/">Work Fresh</a></li>
                        <li><a href="/project3/">Joplin First</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>

                <div class="by-now">
                    <a href="/contact">Contact</a>
                </div>
            </ul>
        </nav>
    </div>
</div>
