{% extends 'base.html' %}

{% block title %}
  Contact
{% endblock %}


{% block content %}

    <!-- End Sticky Menu
================================================== -->

    <!-- Contact
    ================================================== -->
    <section class="contact-p section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-info">
                        <div class="title-box">
                            <h3>Let's talk</h3>
                            <div class="lineStagger"></div>
                        </div>

                        <div class="desc">
                            <ul>
                                <li>Tell me about your company or startup.</li>
                                <li>What services are you in need of?</li>
                                <li>How can I help you as a local business?</li>
                            </ul>
                        </div>

                        <div class="info-inf">
                            <div class="row pl-0 pr-0">
                                <div class="col-md-12">
                                    <div class="in-box">
                                        <h4>ADDRESS</h4>
                                        <p>Joplin, Missouri 64801</p>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="in-box">
                                        <h4>PHONE</h4>
                                        <p>(417) 483-7700</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mail-dtls">
                            <span>Prefer Direct Mail?</span>
                            <span class="maill">
                                <a target="_blank" href="mailto:jb@jonbuckenterprises.com">jb@jonbuckenterprises.com</a>
                            </span>
                            <a href="https://www.linkedin.com/in/jon-thomas-buck-808524155/" target="_blank" class="dsn">LinkedIn</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-box">
                        <form action="https://formspree.io/jb@jonbuckenterprises.com" method="POST" />
                            <div class="messages"></div>
                            <div class="input__wrap controls">
                                <div class="form-group">
                                    <label>Let's start with your name</label>
                                    <input type="text" name="name" class="form-control input-text" id="name" placeholder="Your Name"
                                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <label>Then your email</label>
                                    <input type="email" class="form-control input-text" name="email" id="email" placeholder="Your Email"
                                    data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <label>Leave me a detailed message</label>
                                    <textarea class="form-control input-text text-area" name="message" rows="5" data-rule="required"
                                    data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>

                                <button class="custom-btn">
                                    <span class="custom-btn__label">Send Message</span>

                                    <span class="custom-btn__icon">

                                        <span class="custom-btn__icon-small">
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 100 100" xml:space="preserve">
                                                <polygon
                                                    points="33.7,95.8 27.8,90.5 63.9,50 27.8,9.5 33.7,4.2 74.6,50 ">
                                                </polygon>
                                            </svg>

                                        </span>

                                        <span class="custom-btn__icon-circle">
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 100 100" xml:space="preserve">
                                                <path class="bottomcircle"
                                                    d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0">
                                                </path>
                                                <path class="topcircle"
                                                    d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0">
                                                </path>
                                            </svg>

                                        </span>

                                    </span>
                                </button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact
    ================================================== -->

  {% include 'snippets/footer.html' %}

    <div data-dsn-grid="progress-circle" data-dsn-grid-stroke="#fff">
        <div class="icon__fixed" data-dsn-grid="parallax">
            <i class="fas fa-angle-up"></i>
        </div>
    </div>

    {% endblock %}
